html {
 
background-image: url(bg.jpg);

-webkit-background-size : cover;
-moz-background-size : cover;
-o-background-size : cover;
background-size: cover;

}

body {
    text-align: center;
}

table {
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

button, a, #form-action-buttons, #login_button, #tdregis, #regisub{
    cursor: pointer;
}
#regicans, #regiregi, #newdate, #userdate{
    cursor: pointer;
}
#tdregis {
    text-decoration: underline;
}

/* 박스 */
legend {
background-color:gray;
color:white;
text-align: inherit;
border-radius: 5px;
}

fieldset {
    opacity: 0.5;
    background-color :rgb(255, 255, 255);
    border-radius: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}
/* 테이블 */
table, td, th {
    border-collapse: collapse;
    
}

#adminList {
    width : 100%;
    border-collapse: collapse;
}

#adminfield {
    width: 70%;
    margin:auto;
}

#loginTab {
    width: 1080px;
    margin: auto;
}
#regiTab {
    width: 1080px;
    margin: auto;
}
#infoTab {
    width: 1080px;
    margin: auto;
}
#listTab {
    width: 1080px;
    margin: auto;
}
h2 {
    width: 1080px;
    margin: auto;
}